.main {
  width: 1080px;

  .pl20 {
    padding-left: 20px;
  }

  #id1 {
    color: #cc0;
  }

  .class1 {
    background: #000;
  }

  [data-1] {
    width: 300px;
  }

  [data-2="data2"] {
    height: 200px;
  }
}

.App {
  text-align: center;
}
